{% extends "layout.html" %}
{% block title %}Bridges{% endblock %}
{% block machines_class %} {% endblock %}
{% block bridges_class %}active{% endblock %}
{% block content %}
		<div class="row-fluid">
				<div class="span12">
					<h2><strong>Host: </strong> {{bridge.host}}</h2>
					
					<div class="box">
						<div class="box-header" data-original-title="">
							<h2><i class="halflings-icon cog"></i><span class="break"></span>Configuration</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up icon-chevron-up"></i></a>
							</div>
						</div>
						<div class="box-content" style="display: block;">
							<form method="get" id="bridge-form" class="form-horizontal">
								<fieldset>
									<div class="control-group">
										<label class="control-label" for="option1">Host Name: </label>
										<div class="controls">
										  <input class="input-xlarge focused" id="host-name" type="text" value="{{bridge.hostname}}">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="option2">Port Name: </label>
										<div class="controls">
										  <input class="input-xlarge focused" id="port-name" type="text" value="{{bridge.portname}}">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="option3">VLAN ID: </label>
										<div class="controls">
											<input class="input-xlarge focused" id="vlan-id" type="text" value="{{bridge.vlanid}}">
										</div>
									</div>
									<div class="form-actions text-right">
										<button type="submit" class="btn btn-primary" id="save" ><i class="fa-icon-save"></i> Save</button>
										<a class="btn" href="{{ url_for('bridges') }}"><i class="fa-icon-remove"></i> Cancel</a>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
		</div>
{% endblock %}