{% extends "layout.html" %}
{% block title %}Bridges{% endblock %}
{% block machines_class %}active{% endblock %}
{% block bridges_class %} {% endblock %}
{% block content %}
		<div class="row-fluid">
				<div class="span12">
					<h2><strong>Host: </strong> {{machine.host}}</h2>
					
					<div class="box">
						<div class="box-header" data-original-title="">
							<h2><i class="halflings-icon cog"></i><span class="break"></span>Configuration</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize"><i class="halflings-icon icon-chevron-up"></i></a>
							</div>
						</div>
						<div class="box-content" style="display: block;">
							<form method="get" id="machine-form" class="form-horizontal">
								<fieldset>
									<div class="control-group">
										<label class="control-label" for="option1">Host Name: </label>
										<div class="controls">
										  <input class="input-xlarge focused" id="host-name" type="text" value="{{machine.hostname}}">
										</div>
									</div>
									<div class="box span12">
										<div class="box-header" data-original-title="">
											<h2><i class="halflings-icon cog"></i><span class="break"></span>Bridges</h2>
											<div class="box-icon">
												<a href="#" class="btn-minimize"><i class="halflings-icon icon-chevron-up"></i></a>
											</div>
										</div>
										<div class="box-content">
											<div class="row-fluid">
												<div class="span12 text-right">
													<a class="btn btn-info" href="#" id="add-bridge"><i class="fa-icon-plus"></i> Add Bridge</a> &nbsp;&nbsp;&nbsp;
												</div>
											</div>
											<div class="todo">
												<ul class="todo-list">
													{% for bridge in machineBridges %}
														<li>{{bridge.name}} 
															<span class="todo-actions" item-id="{{bridge.name}|replace(' ', '-')}">
																<a href="#" class="bridge-dupliacte" title="Edit"><i class="fa-icon-edit"></i></a>
																<a href="#" class="bridge-dupliacte" title="Duplicate"><i class="fa-icon-copy"></i></a>
																<a href="#" class="bridge-dupliacte" title="Delete"><i class="fa-icon-remove"></i></a>
																
																<input type="hidden" class="port-name"/>
																<input type="hidden" class="host-name"/>
																<input type="hidden" class="vlan-id" />
															</span>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
									<div class="form-actions text-right">
										<button type="submit" class="btn btn-primary" id="save" ><i class="fa-icon-save"></i> Save</button>
										<a class="btn" href="{{ url_for('machines') }}"><i class="fa-icon-remove"></i> Cancel</a>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
		</div>
		<div class="modal hide fade" id="messageModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3 class="title">Bridge Form</h3>
			</div>
			<div class="modal-body">
				<form id="bridge-edit-form">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="option1">Host Name: </label>
							<div class="controls">
							  <input class="input-xlarge focused" id="host-name" type="text" value="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="option2">Port Name: </label>
							<div class="controls">
							  <input class="input-xlarge focused" id="port-name" type="text" value="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="option3">VLAN ID: </label>
							<div class="controls">
								<input class="input-xlarge focused" id="vlan-id" type="text" value="">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" id="" class="btn btn-primary" data-dismiss="modal"><i class="fa-icon-remove"></i> Close</a>
				<a href="#" class="btn " data-dismiss="modal" ><i class="fa-icon-save"></i> Save</a>
			</div>
		</div>
{% endblock %}